* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 7%;
  border-top: 2px solid #DFDFDF;
  text-align: center;
}
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}
.gallery .gallery__race1,
.gallery .gallery__race2 {
  width: 40%;
}
.history {
  width: 84%;
  margin: 13px auto;
}
.history .history__heading {
  text-align: center;
  margin-bottom: 15px;
  background: linear-gradient(160deg, #C70039, #900C3F, #581845);
  -moz-background-clip: text;
  -moz-color-fill: transparent;
  -webkit-background-clip: text;
  -webkit-color-fill: transparent;
  background-clip: text;
  color: transparent;
  font-family: 'Kaushan Script', cursive;
}
.history .history__text1,
.history .history__text2,
.history .history__text3,
.history .history__text4,
.history .history__text5,
.history .history__text6,
.history .history__text7,
.history .history__text8,
.history .history__text9,
.history .history__text10,
.history .history__text11 {
  margin: 10px 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
