* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 7%;
  border-top: 2px solid #DFDFDF;
  text-align: center;
}
.horseBets {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  width: 90%;
  overflow-x: auto;
  margin: 0 auto;
}
.horseBets .infoHorse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Kaushan Script', cursive;
}
.betArt {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.betArt .headingUserBets {
  margin: 10px 0px;
  font-family: 'Kaushan Script', cursive;
  background: linear-gradient(160deg, #C70039, #900C3F, #581845);
  -moz-background-clip: text;
  -moz-color-fill: transparent;
  -webkit-background-clip: text;
  -webkit-color-fill: transparent;
  background-clip: text;
  color: transparent;
  width: 100px;
}
.betArt .betLocation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
.betArt .betLocation .betBtn {
  margin: 10px 0px;
  width: 70px;
  height: 30px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  background-color: #C70039;
  border: none;
  transition: all 0.5s ease-in-out;
}
.betArt .betLocation .betBtn:hover {
  background-color: #581845;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.betArt .betLocation .betBtn:active {
  background-color: #581845;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
